<html>
<head>
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="../assets/css/form-elements.css">
        <link rel="stylesheet" href="../assets/css/style.css">
		<title>Instant Messaging System</title>
</head>
<body>
	<div class="searchPeople">
	<div style="width:1000px;height:60px;margin:10px;margin-left:200px;">
		<input type="text" name="search" placeholder="Find people..." style="float:left;width:800px;">
		<input type="button" name="btnsearch" value="Search" class="btn btn-primary" style="float:left;height:50px;margin-left:10px;" onclick="opnPanel">
	</div>
	<div style="margin:10px;width:885px;height:500px;box-shadow:2px 2px 5px 2px;margin-left:200px;overflow:scroll;">
		
	</div>
	</div>
</body>
<html>